{% comment %}

Params:
    - id
    - size:
        - sm
        - md
        - lg
        - full
    - header
    - content
{% endcomment%}

{% load common %}

<div class="{{ size | getColumnSize }}">
    <div class="card mb-4 {% if shadow %}border-left-primary shadow {% endif %}">
        <div id="{{ id }}-header" class="card-header py-3"
             {% if accordion %}
                 data-bs-toggle="collapse"
                 data-bs-target="#{{ id }}-content"
                 aria-expanded="true"
                 aria-controls="{{ id }}-content"
             {% endif %}>
            {% block header %}{% endblock %}
        </div>
        <div id="{{ id }}-content"
             class="card-body
                {% if accordion %}
                    collapse
                    {% if show %}
                        show
                    {% endif %}
                {% endif %}"
                {% if accordion %}
                    aria-labelledby="{{ id }}-header"
                    {% if parent %}
                        data-bs-parent="#{{ parent }}"
                    {% endif %}
                {% endif %}
        >
            {% block content %}{% endblock %}
            {% if content %}
                {{ content }}
            {% endif %}
        </div>
    </div>
</div>
