{% comment %}

Params:
    - id
    - size:
        - sm
        - md
        - lg
        - full
    - header
    - content
{% endcomment%}

{% load common %}

<div class="{{ size | getColumnSize }}">
    <div class="card mb-4 {% if shadow %}border-left-primary shadow {% endif %}">
        <div id="{{ id }}-header" class="card-header py-3 ">
            {% block header %}{% endblock %}
        </div>
        <div id="{{ id }}-content" class="card-body">
            {% block content %}{% endblock %}
            {% if content %}
                {{ content }}
            {% endif %}
        </div>
    </div>
</div>