{% extends "base.html" %}
{% load static %}

{% block includes %}
    <title>Farm Layout</title>
    {% include "util/maps.html" %}
{% endblock %}

{% block javascript %}
<script src="{% static './plot/style/plotColors.js' %}"></script>
<script src="{% static './plot/js/create/initmap.js' %}" type="text/javascript"></script>
<script src="{% static './plot/js/create/plot.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
<section class="mapbox-container">
    <div class="map" id="map"></div>
</section>
<div class="container-fluid p-0 min-vh-100">
    <div class="row justify-content-end no-gutters min-vh-100">
        <div class="card col-3" id="plot-details">
            <div %} %}style="display:none;" endif farm id="farm-details" if not {% {%>
                <div class="card-header" id="farm">
                    {{ farm.name }}
                </div>
                <div class="card-body scrollable list-group" id="plots-accordion">
                    {% for plot in plots %}
                    <div class="list-group-item" id="plot-details-{{ plot.id }}"
                         onclick="togglePlotFocus({{ plot.id }})">
                        <h3>
                            <div aria-controls="collapse-plot-{{ plot.id }}" aria-expanded="true" class="plot-header text-left"
                                 data-target="#collapse-plot-{{ plot.id }}" data-toggle="collapse" id="plot-{{ plot.id }}-name"
                                 id="heading-{{ plot.id }}">
                                {{ plot.name }}
                            </div>
                        </h3>
                        <div aria-labelledby="plot-details-{{ plot.id }}" class="collapse"
                             data-parent="#plots-accordion" id="collapse-plot-{{ plot.id }}">
                            <div class="card-body">
                                <div id="plot-{{ plot.id }}-description">
                                    <p>{{ plot.description }}</p>
                                </div>
                                <div id="plot-{{ plot.id }}-tools">
                                    <button class="btn btn-sm btn-light justify-content-center align-self-center" onclick="editPlotDetails(featureGroup.getLayer({{ plot.id }}))">
                                        <svg class="icon" viewBox="0 0 8 8">
                                            <use xlink:href="#pencil"></use>
                                        </svg>
                                    </button>
                                    <button class="btn btn-sm btn-light justify-content-center align-self-center" onclick="deletePlot(featureGroup.getLayer({{ plot.id }}))">
                                        <svg class="icon" viewBox="0 0 8 8">
                                            <use xlink:href="#trash"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="align-bottom" style="display: none;">
                    <div aria-label="Units" class="btn-group btn-group-toggle" id="unit-buttons" role="group">
                        <label class="btn btn-primary btn-sm">
                            <input checked="checked" name="units" type="radio" value="acres">Acres
                        </label>
                        <label class="btn btn-primary btn-sm">
                            <input name="units" type="radio" value="meters">Square Meters
                        </label>
                        <label class="btn btn-primary btn-sm">
                            <input name="units" type="radio" value="hectares">Hectares
                        </label>
                        <label class="btn btn-primary btn-sm">
                            <input name="units" type="radio" value="miles">Square Miles
                        </label>
                    </div>
                </div>
            </div>
            <div %} %}style="display:none;" endif farm id="no-farm-data-block" if {% {%>
                <div class="vh-100 jumbotron d-flex align-items-center">
                    <div class="container">
                        <h1>No Plot Data</h1>
                    </div>
                </div>
            </div>
            <form id="save-plot" method="post">
                <input id="farm-location" type="hidden" value=""/>
                <button class="btn btn-primary" type="submit">Add Plot Details</button>
                {% csrf_token %}
            </form>
        </div>
    </div>
</div>
{{ plots | json_script:"plots-data" }}
{{ farm.id | json_script:"farm-data" }}
<div class="modal" id="create-farm-modal">
    <div class="modal-dialog">
        <div class="modal-content" id="farm-modal-content">
            <div class="modal-header" id="create-farm-header">
                <h5 class="modal-title">Farm Details</h5>
            </div>
            <div class="modal-body" id="create-farm-modal-body">
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" onclick="saveFarm()" type="button">Save</button>
            </div>
        </div>
        <div class="modal-content spinner-grow text-success" id="farm-spinner" role="status" style="display: none">
            <span class="sr-only">Saving Farm Details...</span>
        </div>
    </div>
</div>

<div class="modal" id="edit-plot-modal">
    <input id="edit-plot-id" type="hidden">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" id="edit-plot-header">
                <h5 class="modal-title">Plot Details</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Plot Name</span>
                    </div>
                    <input class="form-control" id="edit-plot-name" type="text">
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Plot Description</span>
                    </div>
                    <textarea aria-label="Plot description" class="form-control" id="edit-plot-description"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <input id="center" type="hidden"/>
                <button class="btn btn-primary" onclick="savePlotDetails()" type="button">Save</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}}

