{% extends "aria/base.html" %}
{% load static %}

{% block javascript %}
    <script src="{% static './aria/js/create/crop.js' %}" type="text/javascript"></script>
{% endblock %}

{% block name %}Create Crop{% endblock %}

{% block content %}
    <div class="container">
        <div class="card m-5">
            <div class="card-body">
                <div class="container">
                    <form id="crop-form" method="POST">
                        <h4>General Information</h4>
                        <div class="row mb-3">
                            <div class="col">
                                {{ cropForm.name }}
                            </div>
                            <div class="col input-group">
                                {{ cropForm.species }}
                                <div class="input-group-append">
                                    <a role="button" class="btn btn-primary" href="{% url 'createSpecies' %}">Add New<New></New></a>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6 pull-right">
                                {{ cropForm.company }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                {{ cropForm.description }}
                            </div>
                        </div>
                        <hr/>
                        <div>
                            <h4>Planting Instructions</h4>
                        </div>
                        <div>
                            <div id="planting-form">
                                {% for form in plantingFormSet %}
                                    {% include './plantinginformation.html' with form=form formNum=forloop.counter0 %}
                                {% endfor %}
                            </div>
                            <hr/>
                            <div id="planting-date-form">
                                {% for form in plantingDateFormSet %}
                                    {% include './plantingdateinformation.html' with form=form formNum=forloop.counter0 %}
                                {% endfor %}
                            </div>
                        </div>
                        <div>
                            <h4>Care Instructions</h4>
                        </div>
                        <div id="care-form-1">
                            <div class="input-group mb-3">
                                {{ careFormSet.form.water }}
                                <span class="input-group-text">Inches of water per week</span>
                            </div>
                            <div class="input-group mb-3">
                                {{ careFormSet.form.sunMin }}
                                <span class="input-group-text">to</span>
                                {{ careFormSet.form.sunMax }}
                            </div>
                            <div class="input-group mb-3">
                                {{ careFormSet.form.soil }}
                            </div>
                        </div>
                        <div>
                            <h4>Harvest Instructions</h4>
                        </div>
                        <div id="harvest-form-1">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Harvest</span>
                                {{ harvestFormSet.0.variety }}
                            </div>
                            <div class="input-group mb-3">
                                {{ harvestFormSet.0.begin }}
                                <span class="input-group-text">to</span>
                                {{ harvestFormSet.0.end }}
                                <span class="input-group-text">weeks after planting/transplanting</span>
                            </div>
                        </div>
                        <div class="row justify-content-end mb-3">
                            <button class="btn btn-primary" onclick="$('#crop-form').submit()">Submit</button>
                        </div>
                        {{ plantingFormSet.management_form }}
                        {{ plantingDateFormSet.management_form }}
                        {{ careFormSet.management_form }}
                        {{ harvestFormSet.management_form }}
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

