{% load static %}

{% for plot in plots %}
    {% if plot.parent is None %}
        <div id="plot-overview-{{ plot.id }}" class="card" {% if not forloop.first %}style="display: none;"{% endif%}>
            <h3>
                <div id="plot-{{ plot.id }}-name" class="card-header plot-header text-left" id="heading-{{ plot.id }}" data-toggle="collapse" data-target="#collapse-plot-{{ plot.id }}" aria-expanded="true" aria-controls="collapse-plot-{{ plot.id }}">
                    {{ plot.name }}
                </div>
            </h3>
            <div class="card-body">
                <div id="plot-{{ plot.id }}-subplots" class="list-group">
                    {% if plot.children %}
                        {% for child in plot.children %}
                            {% include './subplotDetails.html' with child=child %}
                        {% endfor %}
                    {% endif %}
                    <div id="no-plots-header" class="alert alert-secondary" role="alert" {% if plot.children %}style="display: none;"{% endif %}>
                        No Plot Data
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}