{% extends "aria/base.html" %}
{% block includes %}
    {% include "util/maps.html" %}
{% endblock %}

{% block content %}
        <div id="mapid" style="height: 300px; width 300px"></div>
        <script>
            var mymap = L.map('mapid').setView([51.505, -0.09], 13);

            L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                maxZoom: 18,
                id: 'mapbox/streets-v11',
                tileSize: 512,
                zoomOffset: -1,
                accessToken: 'pk.eyJ1IjoicmFua3JoIiwiYSI6ImNraDFnbjlrcTAxZjMydG4xN2dyNmtoYWUifQ.tlJBm2GyxVZapHdK0_oDyQ'
            }).addTo(mymap);
        </script>
{% endblock %}