{% extends "aria/base.html" %}
{% load static %}

{% block includes %}
    <title>Plot Details</title>
    {% include "util/maps.html" %}
{% endblock %}

{% block javascript %}
    <script src="{% static './aria/js/create/initmap.js' %}" type="text/javascript"></script>
    <script src="{% static './aria/js/create/plotdetails.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <section class="mapbox-container">
        <div class="map" id="map"></div>
        {{ plots | json_script:"plots-data" }}
    </section>
    <div class="modal" id="edit-plot-modal">
        <input type="hidden" id="edit-plot-id">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" id="edit-plot-header">
                    <h5 class="modal-title">Plot Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Plot Name</span>
                        </div>
                        <input id="edit-plot-name" type="text" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <select class="custom-select" id="inputGroupSelect01">
                            <option selected>Plot Type</option>
                            <option value="garden">Garden</option>
                            <option value="pasture">Pasture</option>
                            <option value="silvo">Silvopasture</option>
                            <option value="orchard">Orchard</option>
                            <option value="field">Field</option>
                            <option value="forest">Forest</option>
                        </select>
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Plot Description</span>
                        </div>
                        <textarea id="edit-plot-description" class="form-control" aria-label="Plot description"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="saveSubplotDetails()">Save</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}