{% extends "aria/base.html" %}
{% load static %}

{% block includes %}
    {% include "util/maps.html" %}
{% endblock %}
{% block javascript %}
    <script src="{% static './aria/js/create/plot.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}

<title>Show drawn polygon area</title>
</head>
<body>
    <div class="map" id="map">
    </div>
    <div class="map-inset fixed-bottom w-25">
        <div class="card">
            <input type="hidden" id="calculated-area">
            <div class="card-body">
                <div id="area">
                    <p>Area: <span id="formatted-area"></span></p>
                </div>
                <div id="unit-buttons" class="btn-group btn-group-toggle" role="group" aria-label="Units">
                    <label class="btn btn-primary btn-sm">
                        <input type="radio" name="units" value="acres" checked="checked">Acres
                    </label>
                    <label class="btn btn-primary btn-sm">
                        <input type="radio" name="units" value="meters">Square Meters
                    </label>
                    <label class="btn btn-primary btn-sm">
                        <input type="radio" name="units" value="hectares">Hectares
                    </label>
                    <label class="btn btn-primary btn-sm">
                        <input type="radio" name="units" value="miles">Square Miles
                    </label>
                </div>
                <button id="save-area" type="button" class="btn btn-secondary" onclick="">Save</button>
            </div>
            {% for plot in plots %}
                <div>
                    {{ plot.plot.plt_name }}
                    {% for point in  plot.points %}
                        {{ point.pt_lat }}, {{ point.pt_long }}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
    <script>
        {% for plot in plots %}
            addPlot("{{ plot.plot.plt_name }}", [
                {% for point in  plot.points %}
                    [{{ point.pt_lat }}, {{ point.pt_long }}]
                {% endfor %}
            ])
        {% endfor %}
    </script>
{% endblock %}
