<button id="subplot-{{child.id}}" type="button" class="list-group-item list-group-item-action" data-id="{{ child.id }}" onclick="zoomToSubPlot({{child.id}})" data-toggle="collapse" data-target="#collapse-plot-{{ child.id }}" aria-expanded="true" aria-controls="collapse-plot-{{ child.id }}">
    <div id="subplot-{{child.id}}-name">
        {{ child.name }}
    </div>
    <div id="collapse-plot-{{ child.id }}" class="collapse" aria-labelledby="plot-details-{{ child.id }}" data-parent="#subplot-{{child.id}}">
        <div class="card-body">
            <div id="plot-{{ child.id }}-description">
                {{ child.get_type_display | title }}
                {% if child.description %}
                    <p>{{ child.description }}</p>
                {% endif %}
            </div>
            <div id="plot-{{ child.id }}-tools">
            </div>
        </div>
    </div>
</button>