{% extends "aria/base.html" %}

{% block content %}
    <div class="container">
        <div class="card m-5">
            <div class="card-body">
                <form method="POST">
                    <span>{{ form.species.label }}: {{ form.species }}</span>
                    <span>{{ form.genus.label }}: {{ form.genus }}</span>
                    <button type="submit" class="btn-dark">Submit</button>
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
