{% extends "aria/base.html" %}

{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-body">
                <form method="POST">
                    <div class="input-group">
                        {{ form.variety }}
                        {{ form.species }}
                    </div>
                    <div class="input-group">
                        {{ form.height }}
                        {{ form.weight }}
                        {{ form.daysToHarvest }}
                    </div>
                    <div class="input-group">
                        {{ form.yieldKg }}
                        {{ form.gallonsPerWeek }}
                    </div>
                    <div class="input-group">
                        <div class="custom-control custom-radio custom-control-inline mr-5">
                            {% for choice in form.sunPerDay %}
                                {{ choice }}
                            {% endfor %}
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            {% for choice in form.category %}
                                {{ choice }}
                            {% endfor %}
                        </div>
                    </div>
                    <button type="submit" class="btn-dark">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
