{% extends 'pageLayout.html' %}
{% load static %}

{% block javascript %}
<script src="{% static './aria/js/createCrop.js' %}" type="text/javascript"></script>
{% endblock %}

{% block name %}Create Crop{% endblock %}

{% block pageContent %}
<div class="container">
    <form class="mb-5" id="crop-form" method="POST">
        <div id="crop-information" class="row justify-content-center accordion">
            {% include 'forms/general_information_card.html' with size="lg" id="general-information" accordion=True show=True parent="crop-information" %}
            {% include 'forms/planting_information_card.html' with size="lg" planting=planting.0 plantingDate=plantingDate.0 id="planting-information" accordion=True parent="crop-information" %}
            {% include 'forms/care_information_card.html' with size="lg" care=care.0 id="care-information" accordion=True parent="crop-information" %}
            {% include 'forms/harvest_information_card.html' with size="lg" harvest=harvest.0 id="harvest-information" accordion=True parent="crop-information" %}
            <div class="col-lg-8">
                <div class="card mb-4">
                    <button class="btn btn-primary" onclick="$('#crop-form').submit()">Create Crop</button>
                </div>
            </div>
        </div>
        {{ planting.management_form }}
        {{ plantingDate.management_form }}
        {{ care.management_form }}
        {{ harvest.management_form }}
        {% csrf_token %}
    </form>
</div>
{% endblock %}

