{% extends 'uiElements/card.html' %}

{% block header %}
    {% include 'farm_header.html' with farm=farm %}
{% endblock %}

{% if cards %}
    {% block content %}
        <div class="row">
            {% if "overview" in cards %}
                {% if farm.description %}
                    {% include 'uiElements/card.html' with id="description" size="lg" content=farm.description %}
                {% endif %}
                {% if climate.zone %}
                    {% include "climate/templates/climate_overview.html" with size="md" climate=farm.climate %}
                {% endif %}
            {% endif %}

            {% if "contact" in cards %}
                {% if farm.address or farm.phone or farm.email %}
                    {% include 'contactCard.html' with size="md" farm=farm header="contact" id="contact"%}
                {% endif %}
            {% endif %}

            {% if "map" in cards %}
                <div class="row">
                     <div id="farm-map-{{ farm.id }}" class="col-md map map-md" data-farmId="{{ farm.id }}" data-lat="{{ farm.location.lat }}" data-long="{{ farm.location.long }}">
                     </div>
                </div>
            {% endif %}
        </div>

    {% endblock %}
{% endif %}
