<div class="modal" id="edit-plot-modal">
    <input id="edit-plot-id" type="hidden">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" id="edit-plot-header">
                <h5 class="modal-title">Plot Details</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Plot Name</span>
                    </div>
                    <input class="form-control" id="edit-plot-name" type="text">
                </div>
                {% if plotTypes %}
                    <div class="input-group mb-3">
                        <select class="custom-select" id="edit-plot-type" required="required">
                            <option selected>Plot Type</option>
                            {% for plotType in plotTypes %}
                            <option value="{{ plotType.0 }}">{{ plotType.1|title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% endif %}
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Plot Description</span>
                    </div>
                    <textarea aria-label="Plot description" class="form-control" id="edit-plot-description"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" onclick="savePlotDetails({{ plot.id }})" type="button">Save</button>
            </div>
        </div>
    </div>
</div>
