{% extends 'pageLayout.html' %}
{% load static %}

{% block includes %}
    {% include "maps.html" %}
{% endblock %}

{% block javascript %}
    <script src="{% static './plot/style/plotColors.js' %}"></script>
    <script src="{% static 'js/maps/initmap.js' %}" type="text/javascript"></script>
    <script src="{% static './farm/js/plotOverview.js' %}" type="text/javascript"></script>
{% endblock %}

{% block pageContent %}
    {{ farm.location.getCoordinates | json_script:"farm-location" }}
    {{ farm.id | json_script:"farm-id" }}
    {{ plots | json_script:"plots-data" }}
    {% csrf_token %}
    <div id="{{ farm.name }}" class="d-sm-flex align-items-center justify-content-between mb-4">
        {% if farm.logo %}
            <div class="col-2 mx-auto">
                <img class="img-fluid" src="{{ farm.logo.url }}" alt="{{ farm.name }} Logo"/>
            </div>
        {% endif %}
        <div class="col-md-12 col-lg-10 text-center text-lg-left align-self-center">
            <h2>
                {{ farm }}
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9">
            <div id="map" class="card map map-lg"></div>
        </div>
        <div class="col-lg-3">
            <div class="accordion" id="plots-sidebar">
                {% for plot in plots %}
                    {% include './plotSidebarDetail.html' with plot=plot %}
                {% endfor %}
                <div id="no-plot-data" {% if plots %}style="display: none"{% endif %}>
                    <h4>No Plot Data</h4>
                </div>
            </div>
        </div>
    </div>
    {% include './plotDetailsModal.html' with plot=plot %}

{% endblock %}