{% extends "aria/base.html" %}
{% load static %}


{% block javascript %}
    <script src="{% static './aria/js/create/crop.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="card m-5">
            <div class="card-body">
                <div class="container">
                    <form method="POST">
                        <div class="row mb-3">
                            <div class="col">
                                {{ cropForm.variety }}
                            </div>
                            <div class="col input-group">
                                {{ cropForm.species }}
                                <div class="input-group-append">
                                    <a role="button" class="btn btn-secondary" href="{% url 'createSpecies' %}">Add New<New></New></a>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-4 pull-right">
                                {{ cropForm.company }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                {{ cropForm.description }}
                            </div>
                        </div>
                        <div class="row justify-content-end mb-3">
                            <button type="button" class="btn btn-secondary mr-3" data-toggle="modal" data-target="#addPlantingScheme">
                                Add Planting Scheme<New></New>
                            </button>
                        </div>
                        <div class="modal" id="addPlantingScheme" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog" id="addPlantingSchemeModal">
                                <!-- Modal content-->
                                <div class="modal-content" id="addPlantingSchemeModal-content">
                                    <div class="modal-body" id="addPlantingSchemeModal-body">
                                        <div class="alert alert-danger" id="addPlantingSchemeModal-errors" role="alert" style="display: none;">
                                        </div>
                                        <div id="page-1">
                                            <div class="modal-header">
                                                <h4 class="modal-title">What type of crop is this?</h4>
                                            </div>
                                            <div id="variety" class="btn-group btn-group-toggle my-3 col" data-toggle="buttons">
                                                {% for option in cropForm.harvest.form.variety %}
                                                    <label class="btn btn-outline-info">
                                                        {{ option }}
                                                    </label>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div id="page-2" style="display: none;">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Where should this crop be planted?</h4>
                                            </div>
                                            <div id="location" class="btn-group btn-group-toggle my-3 col" data-toggle="buttons">
                                                {% for option in cropForm.plant.form.location %}
                                                    <label class="btn btn-outline-info">
                                                        {{ option }}
                                                    </label>
                                                {% endfor %}
                                            </div>
                                            <div class="row my-3" id="transplant-date" style="display: none;">
                                                <splan class="mx-3 text-center input-group-addon">Transplant after</splan>
                                                <div class="col-xs-12">
                                                    <input type="number" name="transplant" class="form-control number"min="0" id="transplant">
                                                </div>
                                                <span class="mx-3 text-center input-group-addon">weeks.</span>
                                            </div>
                                        </div>
                                        <div id="page-3" style="display: none;">
                                            <div class="modal-header">
                                                <h4 class="modal-title">How much sun does this crop need?</h4>
                                            </div>
                                            <div id="sun" class="btn-group btn-group-toggle my-3 col" data-toggle="buttons">
                                                {% for option in cropForm.grow.form.sun %}
                                                    <label class="btn btn-outline-info">
                                                        {{ option }}
                                                    </label>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div id="page-4" style="display:none;">
                                            <div class="modal-header">
                                                <h4 class="modal-title">When should this crop be planted?</h4>
                                            </div>
                                            <div id="timing">
                                                <div>
                                                    {{ cropForm.plant.form.date }}
                                                </div>
                                                <span>weeks</span>
                                                <div>
                                                    <select name="beforeOrAfter" class="custom-select" id="beforeOrAfter">
                                                        <option value="-1">before</option>
                                                        <option value="1">after</option>
                                                    </select>
                                                </div>
                                                <div>
                                                    {{ cropForm.plant.form.frost }}
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="succession" onchange="toggleSuccession();">
                                                    <label class="form-check-label" for="succession">
                                                        Succession
                                                    </label>
                                                </div>
                                                <div id="succession-data" style="display: none;">
                                                    <splan>Plant every</splan>
                                                    <input type="number" name="succession" class="form-control number"min="0" id="time-between">
                                                    <span>weeks for</span>
                                                    <input type="number" name="times" class="form-control number"min="0" id="times">
                                                    <span>sessions.</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="page-5" style="display:none">
                                            <div class="modal-header">
                                                <h4 class="modal-title">How should this crop be planted?</h4>
                                            </div>
                                            <div class="btn-group btn-group-toggle my-3 col" data-toggle="buttons" id="pattern">
                                                {% for option in cropForm.plant.form.pattern %}
                                                    <label class="btn btn-outline-info" for="{{ option.id_for_label }}" name="pattern">
                                                        {{ option }}
                                                    </label>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div id="page-6" style="display:none;">
                                            <splan class="mx-3 text-center input-group-addon">Harvest</splan>
                                            <div class="col-xs-12">
                                                {{ cropForm.harvest.form.begin }}
                                            </div>
                                            <splan class="mx-3 text-center input-group-addon">to</splan>
                                            <div class="col-xs-12">
                                                {{ cropForm.harvest.form.end }}
                                            </div>
                                            <splan class="mx-3 text-center input-group-addon">days after planting</splan>
                                        </div>
                                        <div class="modal-footer">
                                            <div class="text-right" role="group" aria-label="Prev/Next">
                                                <button id="previousPlantingScheme" type="button" class="btn btn-primary" onclick="window.parent.previousPlantingScheme();" style="display: none;">Previous</button>
                                                <button id="nextPlantingScheme" type="button" class="btn btn-primary" onclick="window.parent.nextPlantingScheme();">Next</button>
                                                <button id="submitPlantingScheme" type="submit" class="btn btn-primary" style="display: none;">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% csrf_token %}
                    </form>

                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

