{% extends "aria/base.html" %}

{% block content %}
    <div class="container">
        <div class="card m-5">
            <div class="card-body">
                <form method="POST">
                    <div class="input-group">
                        {{ cropForm.variety }}
                        {{ cropForm.species }}
                        <div class="input-group-append">
                            <a role="button" class="btn btn-secondary mr-3" href="{% url 'createSpecies' %}">Add New<New></New></a>
                        </div>
                    </div>
                    <div class="input-group">
                        {{ cropForm.height }}
                        {{ cropForm.weight }}
                        {{ cropForm.daysToHarvest }}
                    </div>
                    <div class="input-group">
                        {{ cropForm.yieldKg }}
                        {{ cropForm.gallonsPerWeek }}
                    </div>
                    <div class="input-group">
                        <div class="custom-control custom-radio custom-control-inline mr-5">
                            {{ cropForm.sunPerDay.errors }}
                            <span class="font-weight-bold">{{ form.sunPerDay.label }}:</span>
                            {% for choice in cropForm.sunPerDay %}
                                {{ choice }}
                            {% endfor %}
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            {{ cropForm.category.errors }}
                            <span class="font-weight-bold">{{ form.category.label }}:</span>
                            {% for choice in cropForm.category %}
                                {{ choice }}
                            {% endfor %}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
