<div id="all-planting-dates">
    <h4 class="mb-3">Dates</h4>
    <div id="id_plantingdate_set-{{formNum}}-dates">
        <div class="input-group mb-3">
            {{ plantingDate.location }}
            {{ plantingDate.date }}
            <span class="input-group-text">week(s)</span>
            {{ plantingDate.beforeOrAfter }}
            {{ plantingDate.frost }}
        </div>
        <div class="input-group mb-3" id="id_plantingdate_set-{{ formNum }}-transplant">
            <span class="input-group-text">Transplant after</span>
            {{ plantingDate.date }}
            <span class="input-group-text">week(s)</span>
        </div>
    </div>
</div>
<div class="btn-group btn-group-toggle mb-3 float-right" data-toggle="buttons">
    <button class="btn btn-primary" id="additional-{{formNum}}" name="more-plantings-{{formNum}}" onclick="addPlanting();"
            value="additional">
        Add Additional Planting
    </button>
</div>