{% load static %}

<script src='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.css' rel='stylesheet' />
<script src="{% static 'js/maps/mapbox-gl.js' %}" type="text/javascript"></script>
<script src="{% static 'js/maps/mapbox-gl-draw.js' %}" type="text/javascript"></script>
<script src="{% static 'js/maps/mapbox-gl-geocoder.min.js' %}" type="text/javascript"></script>
<link rel="stylesheet" href="{% static '/css/maps/maps.css' %}"/>

<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.4.10/leaflet.draw.css' rel='stylesheet' />
<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.4.10/leaflet.draw.js'></script>
<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-geodesy/v0.1.0/leaflet-geodesy.js'></script>